# Copy file nay thanh database.properties va dien thong tin cua ban
# BAT BUOC co db.driver: trong Tomcat driver nam o WEB-INF/lib khong tu dang ky
# duoc voi DriverManager -> thieu dong nay se loi "No suitable driver".
db.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
db.url=jdbc:sqlserver://localhost:1433;databaseName=CinemaDB;encrypt=false;trustServerCertificate=true
db.username=sa
db.password=123

db.pool.initialSize=5
db.pool.maxTotal=20
db.pool.maxIdle=10
db.pool.minIdle=5
db.pool.maxWaitMillis=30000
db.pool.testOnBorrow=true
db.pool.validationQuery=SELECT 1
